html {
   font-size: 16px;
}

body {
   background-color: white;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   line-height: 1.45;
   color: #333;
   position: relative;
}

ul.nav-pills {
   top: 110px;
   position: fixed;
}

.dr-subsection {
   padding-top: 50px;
}

.image-row img {
   margin-top: 2rem;
   margin-bottom: 2rem;
   box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .4);
}

figcaption {
   text-align: center;
   font-weight: 700;
}

h1, h2, h3, h4, h5 {
   margin: 1rem 0 1rem;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 400;
   line-height: 1.15;
}

h1 {
   margin-top: 0;
   font-size: 2.488em;
}

h2 {
   font-size: 2.074em;
}

h3 {
   font-size: 1.728em;
}

h4 {
   font-size: 1.44em;
}

h5 {
   font-size: 1.3em;
}

h5 {
   font-size: 1.3em;
}

h6 {
   font-size: 1.2rem;
}

p, tr, td, ul, li, span, small {
   font-size: 1.05em;
}

a {
   font-size: inherit;
   font-weight: bolder;
}

small, .text_small {
   font-size: 0.9em;
}

.navbar-brand {
   font-size: 1.6rem !important;
   color: white;
}

#page-header {
   font-size: 4rem;
   padding-top: 6rem;
}

@media only screen and (max-width: 1024px) {

   .col-sm-3 {
      display: none;
   }

}

.subpage {
  /* max-width: 95% !important; */
  margin-top: 6rem;
}
