.DS_Store
._*
.cache
.env
.local
.parallel
.vscode
Library
carrels
collections
cord/ent
cord/sql
cord/sql-ent
cord/sql-wrd
cord/txt
cord/wrd
etc/CHANGELOG.txt
etc/FAQ.html
etc/cord.db
etc/metadata.csv
etc/readers.tsv
etc/table.tsv
json
lib/tika-server.jar
lib/tika-server.jar.md5
library.db
log
queue
report.txt
tmp
x-*
zips
