.cache
.DS_Store
.env
.parallel
.vscode
cord/ent
cord/sql
cord/sql-ent
cord/sql-wrd
cord/txt
cord/wrd
etc/CHANGELOG.txt
etc/cord.db
etc/FAQ.html
etc/metadata.csv
etc/table.tsv
json
log
queue
report.txt
tmp
zips
x-*